@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    font-family: 'Lobster', cursive;
}

.search{
    text-align: center;
}

.daily{
    display: flex;
    justify-content: center;
}

.now{
    text-align: center;
}

.day{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    height: 180px;
    width: 12.5%;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid grey;
}

.data{
    padding-top: 7px;
}

.day p{
    margin: 0;
}

.day img{
    border-radius: 50%;
    border: 1px solid grey;
    background-color: lightgray;
}

.custom-switch {
  position: relative;
  float: right;
}
.custom-control-input {
  display: none;
}
.custom-control-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: black;
  user-select: none;
}
.custom-control-label::before,
.custom-control-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.custom-control-label::before {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.custom-control-label::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
.custom-control-input:checked + .custom-control-label::before {
  background-color: #4f0861;
}
.custom-control-input:checked + .custom-control-label::after {
  left: 24px;
}