body{
    background-color: antiquewhite;
}

.daily{
    display: flex;
}

.day{
    text-align: center;
    height: 130px;
    width: 130px;
    margin: 0;
    border: 1px solid grey;
}

.day p{
    margin: 0;
}
